.about{
    color: var(--black);
    display: flex;
    position: relative;
    background-color: var(--light-blue);
    width: 90%;
    margin-left: 5%;
    box-shadow: rgba(0, 0, 0, 0.7rem);
}
.about>* {
    flex: 1;
  }
  .about .image {
    position: relative;
    margin-top: 3rem;
  }
  .about .content {
    margin-top: 5rem;
    margin-left: 2rem;
  }
  .about .content h2{
    margin-bottom: 0.3rem;
  }
  .about .content p{
    margin-bottom: 1rem;
  }
  .about .image img {
    margin-left: 2rem;
    width: 80%;
    height: 80%;
    object-fit: contain;
  }

  @media only screen and (max-width: 720px) {
    .about{
        flex-direction: column-reverse;
        padding-bottom: 2rem;
    }
  }